<app-navbar></app-navbar>
<!-- BREADCRUMB -->
<app-breadcrumb currentPageLink="Product Details" previousLink="Shop"></app-breadcrumb>
<!-- BREADCRUMB END -->


<!-- PRODUCT DETAILS -->
<section class="py-5">
    <div class="container py-2">
<div class="row product">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="row  py-3">
            <div class="col-lg-6">
          
                  <div class="row  ">
                    <div class="col-4 d-none d-lg-block d-flex justify-content-end align-items-center animate__animated animate__fadeInDown" >
                        <div >
                            <div class="product-img">
                                <img style="height: 130px; width: 100%; " src="/assets/Images/Rectangle 137.png" class="img-thumbnail  " alt="" >
                                <img style="height: 130px; width: 100%;" src="/assets/Images/Rectangle 136.png" class="img-thumbnail  " alt="" >
                                <img style="height: 130px; width: 100%;" src="/assets/Images/Rectangle 136.png" class="img-thumbnail  " alt="" >
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-8 d-flex justify-content-start align-items-end animate__animated animate__fadeInUp">
                        
                        <img style="height: 400px; width: 100%;" src="/assets/Images/Rectangle 134.png " class="img-thumbnail  " alt="" >
                    </div>
                   
                    
                </div>
                
            </div>
            <div class="col-lg-6 align-items-center p-4">
                <h5 class="">{{product?.name}}</h5>
                <p>{{ product?.quantity }} Unit 
                  <span class="text-warning" *ngFor="let star of getStarsArray(product?.rating); let i = index" [innerHTML]="star"></span>
                </p>
                
                <h6 >{{ product?.price |
                  currency: '₦' :'symbol':'1.0-0'}} <span class="text-secondary" style="text-decoration: line-through;">$35.00</span></h6>
                <p >Color: <span class="text-secondary">Blue</span></p>

                <p class="description text-muted">{{ product?.description }}</p>
                <div class="d-flex">
                    <p (click)="addToCart(product)" class="btn cart">Add to Cart</p> 
                </div>
                <p class="tag">Categories: <span class="text-secondary">Clothing</span></p>
                <p class="tag">Tag: <span class="text-primary"></span></p>
                <p class="tag me-2">Share: <span class="text-primary"><img src="/assets/Images/Group 205.png" alt=""></span></p>
            </div>

        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
    </div>
</section>
<!-- PRODUCT DETAILS  END-->

<!-- REVIEWS AND DESCRIPTION -->
<section class="reviews">
    <div class="container py-5">
        
        <div class="container py-5">
            <ul class="nav nav-tabs text-center">
                <li class="nav-item" (click)="selectedTab = 'description'">
                  <a class="nav-link" [ngClass]="{'active': selectedTab === 'description'}">Description</a>
                </li>
                <li class="nav-item" (click)="selectedTab = 'additionalInfo'">
                  <a class="nav-link" [ngClass]="{'active': selectedTab === 'additionalInfo'}">Additional Info</a>
                </li>
                <li class="nav-item" (click)="selectedTab = 'reviews'">
                  <a class="nav-link" [ngClass]="{'active': selectedTab === 'reviews'}">Reviews</a>
                </li>
                <li class="nav-item" (click)="selectedTab = 'video'">
                  <a class="nav-link" [ngClass]="{'active': selectedTab === 'video'}">Video</a>
                </li>
              </ul>
              
              <div [ngSwitch]="selectedTab" class="p-5 des px-5">
                <div *ngSwitchCase="'description'">
                    <h6>Varius tempor.</h6>
                  <p class="text-muted">Aliquam dis vulputate vulputate integer sagittis. Faucibus dolor ornare faucibus vel sed et eleifend habitasse amet. Montes, mauris varius ac est bibendum. Scelerisque a, risus ac ante. Velit consectetur neque, elit, aliquet. Non varius proin sed urna, egestas consequat laoreet diam tincidunt. Magna eget faucibus cras justo, tortor sed donec tempus. Imperdiet consequat, quis diam arcu, nulla lobortis justo netus dis. Eu in fringilla vulputate nunc nec. Dui, massa viverr .</p>
                
<div class="mt-4">
    <h6>More Details</h6>
    <p class="text-muted">Aliquam dis vulputate vulputate integer sagittis. Faucibus dolor ornare faucibus vel sed et eleifend habitasse amet. Montes, mauris varius ac est bibendum. Scelerisque a, risus ac ante. Velit consectetur neque, elit, aliquet. Non varius proin sed urna, egestas consequat laoreet diam tincidunt. Magna eget faucibus cras justo, tortor sed donec tempus. Imperdiet consequat, quis diam arcu, nulla lobortis justo netus dis. Eu in fringilla vulputate nunc nec. Dui, massa viverr .</p>
</div>
                  
                </div>
                <div *ngSwitchCase="'additionalInfo'">
                  <p>Additional Info content</p>
                </div>
                <div *ngSwitchCase="'reviews'">
                  <p>Reviews content</p>
                </div>
                <div *ngSwitchCase="'video'">
                  <p>Video content</p>
                </div>
              </div>
              
        </div>
    </div>
</section>
<!-- REVIEWS AND DESCRIPTION END -->


<!-- PARTNERSHIP SECTION -->
<section class="px-5 py-5 container">
   <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="/assets/Images/Figure.png"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="/assets/Images/Figure (1).png"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="/assets/Images/Figure (2).png"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="/assets/Images/Figure (3).png"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="/assets/Images/Figure (4).png"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="/assets/Images/Figure (5).png"
                  class="w-100"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2);"
                  ></div>
                </a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-1"></div>
   </div>
  </section>
<!--END OF PARTNERSHIP SECTION -->

<app-footer></app-footer>