<app-navbar></app-navbar>
<app-breadcrumb currentPageLink="Order Completed" previousLink="Shipping Info"></app-breadcrumb>
<section class="py-5">
    <div class="container py-5">
        <div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="container  completed text-center ">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <img src="/assets/Images/correct.png" alt="">
                <h5>Your Order is Completed!</h5>
<p>Thank you for your order! Your order is being processed and will be completed within 3-6
    hours. <br> You will receive an email confirmation when your order is completed.
    </p>
    <button class="btn">Continue Shopping</button>
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>
</div>
<div class="col-lg-2"></div>
        </div>
    </div>
</section>
<app-footer></app-footer>

