footer{
    border-radius: 100px 100px 0px 0px;
}

.footer-section h6{

font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;

color: white;

}
.footer-section p{


    font-size: 17px;
    /* font-weight: 300; */
    letter-spacing: 0em;
    /* text-align: left; */
    
}
.social img{
margin-right: 6px;
cursor: pointer;
}