<app-navbar></app-navbar>

<section class="container">
    <div class="py-5">
        <div class="row py-4 heroLeft">
            <div class="col-lg-6 py-5 d-flex align-items-center">
                <div>

                    <h6 class="text-primary">BUY, SELL, PAY AND SHIP IN ONE PLACE</h6>
                    <h5 class="w3-animate-zoom">The Ideal Trader's <br> Marketplace</h5>
                    <p class="text-muted">We’ve simplified sourcing and selling, so you can face what really matters to you, earning conveniently</p>
                    <button class="btn btn-primary">Shop Supplya</button>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- First Image -->
                <img src="/assets/Images/idealTrader.png" alt="First Image" class="img-fluid " >

                <!-- Second Image -->
                <!-- <img src="/assets/Images/Rectangle 2.png" alt="Second Image" class="img-fluid" style="position: absolute; top: 0; left: 0; width: 50%; height: 100%; object-fit: cover; z-index: 2;"> -->
            </div>
        </div>
    </div>
</section>


<!-- PARTNERSHIP SECTION -->
<section class="px-5 py-3">
    <div class="row">
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light"
        >
          <img
            src="/assets/Images/Figure.png"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2);"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light"
        >
          <img
            src="/assets/Images/Figure (1).png"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2);"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light"
        >
          <img
            src="/assets/Images/Figure (2).png"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2);"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light"
        >
          <img
            src="/assets/Images/Figure (3).png"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2);"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light"
        >
          <img
            src="/assets/Images/Figure (4).png"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2);"
            ></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light"
        >
          <img
            src="/assets/Images/Figure (5).png"
            class="w-100"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.2);"
            ></div>
          </a>
        </div>
      </div>
    </div>
  </section>
<!--END OF PARTNERSHIP SECTION -->

<!-- PRODUCT TO CHOOSE FROM SECTION -->
<section class="container py-5 choose text-center">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h5><span class="text-secondary">500+</span> products to choose from</h5>
            <img src="/assets/Images/Frame 6.png" class="py-3" alt="">
            <h5><span class="text-secondary">200+</span> retailers trust Supplya</h5>

            <button class="btn btn-primary">Join them</button>
        </div>
        <div class="col-lg-2"></div>
    </div>
</section>
<!--END OF PRODUCT TO CHOOSE FROM SECTION -->

<section class="container py-5">
    <div class="row qualityRight">
        <div class="col-lg-6">
<img src="/assets/Images/gotQuality.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 d-flex align-items-center">
<div class="">
    <h5>Got Quality <br class="mb-0"> Products to<br>  Sell?</h5>
    <p class="text-muted">Register now to become as a vendor on Supplya and earn high returns</p>
    <button class="btn btn-primary">Register as a Vendor</button>
</div>
        </div>
    </div>
</section>

<!-- DISCOUNT SECTION -->
<section class="py-5 container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 discount py-5 ">
            <div class="container">

                <div class="row p-5">
    <div class="col-lg-6">
        <div>
            <h5>Get <span class="text-secondary">20% Discount</span> <br>  on Your First <br> Purchase</h5>
            <p >Register now to be the first to know of our news and updates!</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="">
            <div class=" mb-2">
            <label class="mb-1 px-3" for="">Email Address</label>
              <input type="text" class="form-control" placeholder="Email Address">
            </div>
            <div class=" mb-2">
                <label class="mb-1 px-3" for="">Create Password</label>
            
              <input type="password" class="form-control" placeholder="Create Password" >
            </div>
            <div class="mb-2">
            <label class="mb-1 px-3" for="">Repeat Password</label>
             
              <input type="password" class="form-control" placeholder="Repeat Password">
            </div>
           
            <button type="submit" name="commit" class="btn btn-primary btn-block w-100 mt-1">
              <span>Join Mailing List </span>
            </button>
           
          </div>
    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</section>
<!--END OF DISCOUNT SECTION -->

<app-footer></app-footer>