<section class="signIn d-flex justify-content-center align-items-center " style="height: 100vh;">
    <div class="container">

        <div class="row">
           
            <div class="col-lg-5 d-flex justify-content-end">
                <div>
                    <img class="d-none d-lg-block w3-animate-zoom" src="/assets/Images/signup-image.png" alt="" style="height: 85vh;">
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-start align-items-center">
                <div class="signIn-form container p-5 w3-animate-zoom">
                    <form style="height: max-content;">
                        <div class="d-flex justify-content-center mb-5 d-lg-none">
                            <img class="" src="/assets/Images/Color=White.png" alt="">

                        </div>
                        <h5>Sign In</h5>
                        <p>New User? <span><a class="text-decoration-none text-secondary" routerLink="/sign-up">Create an Account</a></span></p>

<div class="row">

    <div class="mb-3">
        <input type="text" class="form-control w-100" placeholder="Email Address" aria-label="Email Address" aria-describedby="basic-addon1">
    </div>
</div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn submit-btn">Continue</button>
                        </div>

                        <p class="text-center py-2">Or</p>

                        <button class="google mb-3"> <img style="width: 25px; height: 25px;" src="/assets/Images/google (2).png" alt="">  Continue with Google</button>
                        <button class="facebook mb-3"> <img style="width: 25px; height: 25px;" src="/assets/Images/facebook.png" alt=""> Continue with Facebook</button>
                        <button class="apple">  <img style="width: 25px; height: 25px;" src="/assets/Images/apple.png" alt=""> Continue with Apple</button>

                        <p class="text-center backToHome mt-3"><a class=" text-secondary text-decoration-none" routerLink="">Back to home</a></p>
                    </form>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
