<app-navbar></app-navbar>
<app-breadcrumb currentPageLink="Shipping Info" previousLink="Shop"></app-breadcrumb>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <div class="row billing  py-5 ">
                    <!-- <div class="col-lg-1"></div> -->
                    <div class=" col-lg-8 mb-4">


                        <!-- Checkout -->
                        <div class="card shadow-0 shipping border-0">
                            <div class="p-4 ">
                                <h5 class="mb-2">Contact Information</h5>
                                <!-- <h5 class="card-title mb-3">Guest checkout</h5> -->
                                <div class="row">

                                    <div class="col-lg-12 col-sm-12 mb-3">

                                        <div class="form-outline">
                                            <input type="text" id="typeText" placeholder="Email or mobile phone number"
                                                class="form-control" />
                                        </div>
                                    </div>

                                    <h5 class="mb-3 mt-5">Shipping Address</h5>

                                    <div class="col-lg-6 col-sm-12 mb-3">

                                        <div class="form-outline">
                                            <input type="text" id="typeText" placeholder="First name (Optional)"
                                                class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12">

                                        <div class="form-outline">
                                            <input type="text" id="typeText" placeholder="Last Name"
                                                class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 mb-3">

                                        <div class="form-outline">
                                            <input type="text" id="typeText" placeholder="Address"
                                                class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 mb-3">

                                        <div class="form-outline">
                                            <input type="text" id="typeText"
                                                placeholder="Apartment, suit, e.t.c (optional)" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 mb-3">

                                        <div class="form-outline">
                                            <input type="text" id="typeText" placeholder="City" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12 mb-3">

                                        <div class="form-outline">
                                            <input type="text" placeholder="Bangladesh" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-12 mb-3">

                                        <div class="form-outline">
                                            <input type="text" placeholder="Postal Code" class="form-control" />
                                        </div>
                                    </div>
                                </div>





                                <div class="float-start info-btn">
                                    <button class="btn">Save Shipping Info</button>

                                </div>
                            </div>
                        </div>
                        <!-- Checkout -->
                    </div>
                    <div class=" col-lg-4 ">




                        <div class="card mb-3 border shadow-0">
                            <div class="card-body item-card">
                                <h4 class="heading">Items</h4>
                                <div class="d-flex align-items-center  py-2" style="border-bottom: 1px solid #ddd;">
                                    <div class="me-3 position-relative">
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                                            1
                                        </span>
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp"
                                            style="height: 80px; width: 80px;" class="img-sm rounded border" />
                                    </div>
                                    <div class="">
                                        <a  class="nav-link ">
                                            Apple Watch Series 4 Space

                                        </a>
                                        <p class="d-flex justify-content-between mb-0">
                                            <span class="tag text-muted">Color: <span class="text-primary">Blue</span></span>
                                            <span class="amount">N45,000 <span class="text-primary"></span></span>
                                        </p>
                                        <p class="tag text-muted">Size: <span class="text-primary">XL</span></p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center  py-2" style="border-bottom: 1px solid #ddd;">
                                    <div class="me-3 position-relative">
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                                            1
                                        </span>
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp"
                                            style="height: 80px; width: 80px;" class="img-sm rounded border" />
                                    </div>
                                    <div class="">
                                        <a  class="nav-link">
                                            Apple Watch Series 4 Space

                                        </a>
                                        <p class="d-flex justify-content-between mb-0">
                                            <span class="tag text-muted">Color: <span class="text-primary">Blue</span></span>
                                            <span class="amount">N45,000 <span class="text-primary"></span></span>
                                        </p>
                                        <p class="tag text-muted">Size: <span class="text-primary">XL</span></p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center  py-2" style="border-bottom: 1px solid #ddd;">
                                    <div class="me-3 position-relative">
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                                            1
                                        </span>
                                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp"
                                            style="height: 80px; width: 80px;" class="img-sm rounded border" />
                                    </div>
                                    <div class="">
                                        <a  class="nav-link">
                                            Apple Watch Series 4 Space

                                        </a>
                                        <p class="d-flex justify-content-between mb-0">
                                            <span class="tag text-muted">Color: <span class="text-primary">Blue</span></span>
                                            <span class="amount">N45,000 <span class="text-secondary"></span></span>
                                        </p>
                                        <p class="tag text-muted">Size: <span class="text-primary">XL</span></p>
                                    </div>
                                </div>
                            </div>


                            <!-- SUB TOTAL -->
                            
                           
                        </div>
                        <div class="card shadow-0 border total mt-3">
          
                            <div class="card-body ">
                             
                              
                              <div class="d-flex justify-content-between border-bottom mt-4">
                                <p class="mb-2 heading">Sub Total:</p>
                                <p class="mb-2 cartItemPrice">{{ 8998 | currency: '₦'}}</p>
                              </div>
                  
                              <!-- <hr style="margin: 10px;"/> -->
                              <div class="d-flex justify-content-between border-bottom mt-4">
                                <p class="mb-2 heading">Total Price:</p>
                                <h5 class="mb-2  cartItemPrice">{{15000 | currency: '₦'}}</h5>
                              </div>
                            
                              <p class=" ship-text py-3">Shipping & taxes calculated at checkout</p>
                              <div class="mt-3">
                                <a  class="btn  w-100 shadow-0 mb-2 proceed"> Proceed to Checkout
                                </a>

                              </div>
                            </div>
                          </div>
                    </div>
                    <!-- <div class="col-lg-1"></div> -->
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
<app-footer></app-footer>