<!-- BREADCRUMB -->
<div class=" breadcrumb-bg">
    <nav aria-label="breadcrumb  ">
        <div class="container py-3">

            <div class="py-5 px-5">
                <h2 class="mb-2 menu-title animate__animated animate__fadeInDown">{{currentPageLink}}</h2>
                <div class="text-center animate__animated animate__fadeInDown" style="display: flex;">
                    <!-- Added a new div for centering -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item breadcrumb-text text-dark text-decoration-none"><a href="/">{{HomeLink}} {{searchResult}}</a></li>
                        <li *ngIf="previousLink" class="breadcrumb-item  text-black" aria-current="page">{{previousLink}}</li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">{{currentPageLink}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- BREADCRUMB END -->